.login-bg {
    background: #fff url('../../assets/imgs/login-bg2.png') center center no-repeat;
    background-size: cover;
}

page-login {
    .item-md {
        background-color: transparent;
    }

    .login-inputs {
        position: absolute;
        width: calc(100vw - 10%);
        bottom: 0;
        margin-bottom: 20%;
    
        .login-label {
            color: #333;
        }

        .login-input {
            color: #333;
        }
    
        .login-button {
            padding-right: 0;
        }
    }
}