<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="login-bg">

    <ion-list class="login-inputs">

        <!-- <div padding style="text-align: center">
            <img src="assets/imgs/ua-logo.png" width="200">
        </div>

        <br>
        <br> -->

        <ion-item>
            <ion-label stacked class="login-label">Username</ion-label>
            <ion-input class="login-input" type="text" id="username" name="username" [(ngModel)]="username"></ion-input>
        </ion-item>
      
        <ion-item>
            <ion-label stacked class="login-label">Password</ion-label>
            <ion-input class="login-input" type="password" id="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        
        <div padding class="login-button">
            <button ion-button full no-border icon-start (click)="authenticate()">
                <ion-icon name="md-log-in"></ion-icon>
                Sign in
            </button>
        </div>

    </ion-list>

</ion-content>
