page-event-detail {

}

.image-holder {

    border-radius: 100%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin: 50px auto 10px auto;

    img {
        height: inherit;
        width: inherit;
    }
}

.name-holder {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;

}

.role-holder {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
}