<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <ion-title>Event Details</ion-title>
      <ion-buttons end *ngIf="is_owner || is_admin">
        <button ion-button icon-only (click)="update()" *ngIf="is_owner">
            <ion-icon name="ios-create-outline"></ion-icon>
        </button>
        <button ion-button icon-only (click)="delete()">
            <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="cards-content">

  <ion-card *ngIf="is_loading && !is_error">
      <!-- <div class="skeleton-card-image"></div> -->
      <ion-card-content>
          <ion-card-title>
              <label for="" class="skeleton-title"></label>
          </ion-card-title>
          <div class="skeleton-content">
              <h1></h1>
              <h2></h2>
              <h3></h3>
          </div>
      </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!is_loading && !is_error">
      <div class="user-section">
          <div class="user-image">
              <img [src]="event?.user.image">
          </div>
          <div class="user-detail">
              <div class="user-name">{{ event?.user.first_name + ' ' + event?.user.last_name }}</div>
              <div class="user-role">{{ event?.user.role }}</div>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="image-detail">
          <img [src]="event?.image"/>
      </div>
      <ion-card-content>
          <ion-card-title class="title">
              {{ event?.name }}
          </ion-card-title>
          <p class="date">{{ event?.date }}</p>
          <br>
          <p class="content" [innerHTML]="event?.description"></p>
      </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!is_loading && is_error">

  </ion-card>

</ion-content>
