<!--
  Generated template for the AnnouncementPendingDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar>
        <!-- <ion-title>Details</ion-title> -->
        <ion-buttons end>
            <button ion-button icon-only (click)="approve()">
                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
            </button>
            <button ion-button icon-only (click)="decline()">
                <ion-icon name="ios-close-circle-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="cards-content">

    <ion-card *ngIf="is_loading && !is_error">
        <!-- <div class="skeleton-card-image"></div> -->
        <ion-card-content>
            <ion-card-title>
                <label for="" class="skeleton-title"></label>
            </ion-card-title>
            <div class="skeleton-content">
                <h1></h1>
                <h2></h2>
                <h3></h3>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!is_loading && !is_error">
        <div class="user-section">
            <div class="user-image">
                <img [src]="news?.user.image">
            </div>
            <div class="user-detail">
                <div class="user-name">{{ news?.user.first_name + ' ' + news?.user.last_name }}</div>
                <div class="user-role">{{ news?.user.role }}</div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="image-detail">
            <img [src]="news?.image"/>
        </div>
        <ion-card-content>
            <ion-card-title class="title">
                {{ news?.name }}
            </ion-card-title>
            <p class="date">{{ news?.date }}</p>
            <br>
            <p class="content" [innerHTML]="news?.description"></p>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!is_loading && is_error">

    </ion-card>

</ion-content>
