<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar>
        <ion-title>Events</ion-title>
        <ion-buttons end *ngIf="is_admin">
            <button ion-button icon-only (click)="create()">
                <ion-icon name="ios-add-circle-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<div class="spacer"></div>

<ion-content class="cards-content">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="circles"
            refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="is_loading && !is_error">
        <ion-card *ngFor="let item of [1,2,3]">
            <!-- <div class="skeleton-card-image"></div> -->
            <ion-card-content>
                <ion-card-title>
                    <label for="" class="skeleton-title"></label>
                </ion-card-title>
                <div class="skeleton-content">
                    <h1></h1>
                    <h2></h2>
                    <h3></h3>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="!is_loading && !is_error && (events && events.length > 0)">
        <ion-card *ngFor="let event of events" (click)="goToDetails(event)">
            <div class="user-section">
                <div class="user-image">
                    <img [src]="event?.user.image">
                </div>
                <div class="user-detail">
                    <div class="user-name">{{ event?.user.first_name + ' ' + event?.user.last_name }}</div>
                    <div class="user-role">{{ event?.user.role }}</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="image">
                <img [src]="event?.image"/>
            </div>
            <ion-card-content>
                <ion-card-title class="title">
                    {{ event?.name }}
                </ion-card-title>
                <p class="date">{{ event?.date }}</p>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="!is_loading && !is_error && (events && events.length <= 0)">
        <ion-card>
            <ion-card-content>
                <ion-card-title>No Events Yet.</ion-card-title>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="!is_loading && is_error">

    </div>

</ion-content>