<ion-tabs>
    <ion-tab tabIcon="ios-megaphone-outline" [root]="announcementTab"></ion-tab>
    <ion-tab tabIcon="ios-paper-outline" [root]="newsTab"></ion-tab>
    <ion-tab tabIcon="ios-american-football-outline" [root]="eventTab"></ion-tab>
    <ion-tab tabIcon="ios-contact-outline" [root]="userTab"></ion-tab>
    <ion-tab tabIcon="ios-settings-outline" [root]="settingsTab"></ion-tab>
</ion-tabs>`