<!--
  Generated template for the UserChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <ion-title>Change Password</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="create()">
              <ion-icon name="ios-create-outline"></ion-icon>
          </button>
          <button ion-button icon-only (click)="close()">
              <ion-icon name="ios-close-outline"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-list>

        <ion-item>
            <ion-label stacked>Old Password</ion-label>
            <ion-input type="password" id="old_password" name="old_password" [(ngModel)]="old_password"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label stacked>New Password</ion-label>
            <ion-input type="password" id="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Confirm Password</ion-label>
            <ion-input type="password" id="password_confirmation" name="password_confirmation" [(ngModel)]="password_confirmation"></ion-input>
        </ion-item>
        
    </ion-list>

</ion-content>