page-announcement {

}

.content-md {
    background: #f0f0f0;
}

.card-md {
    box-shadow: none;
    margin: 0 0 10px 0;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #e0e0e0;
}

.card-title-md {
    font-size: 2rem;
    font-weight: 400;
}

.card-md p {
    font-size: 1.3rem;
}

ion-content.cards-content {
    // margin-top: 56px;

    .image {
        height: 200px;
        overflow: hidden;
    }
}

.user-section {
    padding: 10px;
}

.user-image {
    border-radius: 100%;
    overflow: hidden;
    width: 30px;
    float: left;
    border: 1px solid #e0e0e0;
}

.user-detail {
    float: left;

    .user-name {
        display: block;
        padding-left: 5px;
        font-size: 12px;
        font-weight: bold;
    }

    .user-role {
        display: block;
        padding-left: 5px;
        color: #505050;
        font-size: 11px;
    }
}

.clearfix {
    clear: both;
}

.card-content-md {
    padding: 5px 16px 10px 16px;
    font-size: 1.4rem;
    line-height: 1.5;

    .card-title-md {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 0px;
    }
    
    p.date {
        font-size: 10px;
        color: #505050;
    }
}