<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar>
        <ion-title>Settings</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list no-border>

        <ion-item-group *ngIf="is_admin">
            
            <ion-item-divider color="light">Pending Posts</ion-item-divider>

            <ion-item (click)="goToPendingAnnouncements()">
                <ion-icon name='ios-megaphone-outline' item-start></ion-icon>
                Announcements
                <ion-badge item-end>{{ count ? count.announcements : 0 }}</ion-badge>
            </ion-item>
    
            <ion-item (click)="goToPendingNews()">
                <ion-icon name='ios-paper-outline' item-start></ion-icon>
                News
                <ion-badge item-end>{{ count ? count.news : 0 }}</ion-badge>
            </ion-item>
    
            <ion-item (click)="goToPendingEvents()">
                <ion-icon name='ios-american-football-outline' item-start></ion-icon>
                Events
                <ion-badge item-end>{{ count ? count.events : 0 }}</ion-badge>
            </ion-item>

        </ion-item-group>

        <ion-item-group>

            <ion-item-divider color="light" *ngIf="is_admin">Settings</ion-item-divider>
    
            <ion-item (click)="goToAbout()">
                <ion-icon name='ios-information-circle-outline' item-start></ion-icon>
                About
            </ion-item>
        
            <ion-item (click)="goToHelp()">
                <ion-icon name='ios-help-circle-outline' item-start></ion-icon>
                Help
            </ion-item>
    
            <ion-item (click)="goToFaqs()">
                <ion-icon name='ios-bulb-outline' item-start></ion-icon>
                FAQs
            </ion-item>
        
            <ion-item (click)="logout()">
                <ion-icon name='ios-log-out-outline' item-start></ion-icon>
                Logout
            </ion-item>

        </ion-item-group>
    
    </ion-list>

</ion-content>
