<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

</ion-content>
