// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs-md .tabbar {
    background: #fff;
}

.toolbar-background {
    background-color: #3c8dbc;
}

.toolbar-title-md {
    color: #fff;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: #fff;
}

.tabs-md
.tab-button[aria-selected=true]
.tab-button-icon {
    color: #3c8dbc;
}

.button-md {
    background-color: #3c8dbc;
}

@keyframes animatedBar{
    0%{
        background-position: -406px 0;
    }
    100%{
        background-position: 0 0;
    }
}

.skeleton-card-image {
    background-color: lightgrey;
    height: 200px;
    width: 97.5%;
    margin: 5px;
}

.skeleton-title {
    background-color: lightgrey;
    background: linear-gradient(to right, #dddddd , #EEEEEE);
    animation: animatedBar 700ms linear infinite;
    width: 100%;
    height: 20px;
    display: inline-block;
}

.skeleton-content {
    h1 {
        background-color: lightgrey;
        background: linear-gradient(to right, #dddddd , #EEEEEE);
        animation: animatedBar 700ms linear infinite;
        width: 80%;
        height: 20px;
        display: inline-block;
    }

    h2 {
        background-color: lightgrey;
        background: linear-gradient(to right, #dddddd , #EEEEEE);
        animation: animatedBar 700ms linear infinite;
        width: 50%;
        height: 20px;
        display: inline-block;
    }

    h3 {
        background-color: lightgrey;
        background: linear-gradient(to right, #dddddd , #EEEEEE);
        animation: animatedBar 700ms linear infinite;
        width: 90%;
        height: 20px;
        display: inline-block;
    }
}