<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar>
        <ion-title>My Profile</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="cards-content">

    <div class="image-holder">
        <img *ngIf="user" [src]="user?.details.image">
    </div>

    <div class="name-holder">
        {{ user?.details.first_name }} {{ user?.details.last_name }}
    </div>

    <div class="role-holder">
        {{ user?.role.name }}
    </div>

  <ion-list no-border>

    <ion-item-group>

        <ion-item (click)="changePicture()">
            <ion-icon name='ios-image-outline' item-start></ion-icon>
            Change Picture
        </ion-item>

        <ion-item (click)="changePassword()">
            <ion-icon name='ios-lock-outline' item-start></ion-icon>
            Change Password
        </ion-item>

    </ion-item-group>

</ion-list>

</ion-content>
