page-news-update {

    .content-md {
        background: #fff;
    }

    .select-image {
        padding-left: 15px;
    }

    .item-md {
        padding-left: 0;

        .item-inner {
            padding-right: 0 !important;

            .label-md {
                margin-right: 0;
            }
        }
    }
}
