<!--
  Generated template for the EventCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar>
        <ion-title>Create Event</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="create()">
                <ion-icon name="ios-add-circle-outline"></ion-icon>
            </button>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="ios-close-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-list>

        <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" id="name" name="name" [(ngModel)]="name"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label stacked>Description</ion-label>
            <ion-textarea rows="5" id="description" name="description" [(ngModel)]="description"></ion-textarea>
        </ion-item>

        <br>
        
        <div>
            <label ion-button full no-border icon-start>
                <ion-icon name="ios-camera-outline"></ion-icon>
                Choose Featured Image
                <input type="file" (change)="selectImage($event)" style="display:none;">
            </label>
        </div>

        <ion-item *ngIf="image">
            <img [src]="image"/>
        </ion-item>

        <ion-item>
            <ion-label stacked>Course</ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="course">
                <ion-option value="">All Courses</ion-option>
                <ion-option *ngFor="let course of courses; let i = index" value="{{ course?.id }}">{{ course?.acronym }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked>Section</ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="section">
                <ion-option value="">All Sections</ion-option>
                <ion-option *ngFor="let section of sections; let i = index" value="{{ section }}">{{ section }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked>Date</ion-label>
            <ion-datetime displayFormat="MM-DD-YYYY" pickerFormat="MM-DD-YYYY" id="date" name="date" [(ngModel)]="date"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label stacked>Time</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" id="time" name="time" [(ngModel)]="time"></ion-datetime>
        </ion-item>
        
    </ion-list>

</ion-content>