<!--
  Generated template for the UserChangePicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar>
        <ion-title>Change Profile Picture</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="create()">
                <ion-icon name="ios-create-outline"></ion-icon>
            </button>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="ios-close-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-list>

        <div>
            <label ion-button full no-border icon-start>
                <ion-icon name="ios-camera-outline"></ion-icon>
                Choose Profile Picture
                <input type="file" (change)="selectImage($event)" style="display:none;">
            </label>
        </div>

        <ion-item *ngIf="image">
            <img [src]="image"/>
        </ion-item>
        
    </ion-list>

</ion-content>